* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
}
.fontbackground{
   width: 600px;
   height: 350px;
   margin: 25vh auto;
   background-image: url('images 2.png');
   background-size: cover;
   text-align: center;
   padding: 55px 0px 49px 0px;
   border-radius: 30px;
}

    h1 {
        color: rgb(255, 255, 255);
        font-size: 35px;
    }
p{
    color: rgb(173, 173, 173);
        margin-bottom: 15px;
        font-size: 15px;
}
.fontbackground input[type="text"], .fontbackground input[type="password"]{

    background: rgba(7, 7, 7, 0.56);
    border-radius: 65px;
    margin-bottom:12px;
    font-size: 13px;
    width: 50%;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    border: none;

}


.fontbackground input[type="text"]::placeholder, .fontbackground input[type="password"]::placeholder{

    color:white;

}
.forgate a{
   text-decoration: none;
   color: white;
}

.forgate a:hover{
    text-decoration: underline;
 }

.login button[type="submit"] {
    background: rgba(7, 7, 7, 0.56);
    border-radius: 65px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 125px;
    padding: 19px;
    text-align: center;
    color: white;
    margin-top: 35px;
    border:none

}
.fontbackground input:hover,.fontbackground input:active{
    background-color: rgba(201, 220, 220, 0.346);
    
}

.login button:hover{
    background-color: rgb(241, 243, 243);
    color: black;
    cursor: pointer;
}

.social-login li{
    display: inline;
    list-style: none;
}

.social-login li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    padding: 0 5px;
}

